<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<title>Cleared your WMATA feedback</title>
	<link rel="stylesheet" href="/style.css"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="green-line.jpg">
</head>
<body>
	<h1>Cleared your WMATA feedback</h1>
	<div>
		All the feedback you entered into our database has been cleared.
        You entered feedback <%- counter %> times.<br>
        Thank you for your interest in using and making public transportation better!
        <br><br><br>
		<a href="https://transitapp.onrender.com/">HOMEPAGE</a>
	</div>
	<img src="/WMATALogo.jpg" width="350rem" height="350rem"/>
</body>
</html>