<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<title>Receipt of Feedback</title>
	<link rel="stylesheet" href="/style.css"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="green-line.jpg">
</head>
<body>
	<h1>Feedback Receipt</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
        <strong style = "margin-bottom : 0" >Feedback: </strong><p style = "margin-top : 0" ><%- feedback %></p>
		<strong>Feedback submitted at <%- time %></strong><br>
		<a href="https://transitapp.onrender.com/">HOMEPAGE</a>
	</div>
	<img src="/WMATALogo.jpg" width="350rem" height="350rem"/>
</body>
</html>