<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<title>Terps who travel!</title>
    <link rel="stylesheet" href="/style.css"></link>
    <link rel="icon" type="image/png" sizes="32x32" href="green-line.jpg">
</head>
<body>
    <h1>Wondering how to get out of College Park?</h1>
    <h2>Take the train!</h1></h2>
    <ul>
    <br>
    <li><span> See just how quickly you can get elsewhere! <a href="/displayTrains">Select your starting station</a></span></li>
    <br>
    <li><span> Do you have recommendations on how we can be better?</span></li>
    <br>
    <li><span> Please let us know!</span></li>
    <br>
    <li><span></strong><a href="/feedbackForUs"> #MakeWMATABetter</a></span></li>
    <br>
    <li><span> To clear your feedback from our database: <a href="/clearAll">Remove My Feedback</a></span></li>
    <br>
    </ul>
    <img src="/WMATALogo.jpg" class="scalable-image" />
</body>
</html>