<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Terps who travel!</title>
    <link rel="stylesheet" href="/style.css"></link>
    <link rel="icon" type="image/png" sizes="32x32" href="green-line.jpg">
</head>
<body>
    <h1>Wondering how to get out of College Park?</h1>
    <h2>Take the train!</h1></h2>
    <ul>
    <li>See just how quickly you can get elsewhere! <a href="/displayTrains">Choose a place to go</a></li>
    <br>
    <li>Do you have recommendations on how we can be better?
    <br>Please let us know!
    </strong><a href="/feedbackForUs">#MakeWMATABetter</a></li>
    <br>
    <li>To clear your feedback from our database: <a href="/clearAll">Remove My Feedback</a></li><br>
    </ul>
    <img src="/WMATALogo.jpg" width="350rem" height="350rem"/>
</body>
</html>