<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Trains</title>
	<link rel="stylesheet" href="/style.css"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="green-line.jpg">
</head>
<body>
	<h1>Displaying Trains</h1>
	<%- trainTable %>
	<br>
		<a href="http://localhost:<%= portNumber %>">HOMEPAGE</a>
	</div>
</body>
</html>