<!doctype html>
<html lang="en">
<head><meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" /><meta charset="utf-8" />
	<title>Trains</title>
	<link rel="stylesheet" href="/style.css"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="green-line.jpg">
</head>
<body>
	<h1>Displaying Trains</h1>
	<%- trainTable %>
	<br>
		<a href="https://transitapp.onrender.com/">HOMEPAGE</a>
	</div>
</body>
</html>